body {
    margin: 0;
    padding: 0;
}
div#wholeBody {
    background-image: linear-gradient(to bottom right, rgb(42, 148, 51), rgb(0, 0, 0));
    height: 100%;
    padding-left: 200px;
    width: 100%;
    position: absolute;
}
div#search { 
    display: flex; 
} 
div#boxLeft { 
    background-color: rgb(0, 0, 0); 
    width: 200px; 
    height: 100%;
    position: absolute;
    z-index: 100;
}
h1#artistDetailsName {
    padding: 10px;
    color:rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 50px;
}
h1 {
    padding: 10px;
    color:white;
    font-style: oblique;
}
form {
    padding: 10px;
}
div.searchResults {
    float: left;
    padding: 10px;
    padding-top: 12px;
}
div.searchResults img {
    height: 50px;
    width: auto;
}
div.searchResults p {
    float: right;
    padding-left: 5px;
}

#detailImage {
    height: 350px;
    width: auto;
}

.detailsContainer {
    float: left;
    padding: 5px;
}